@import '../../../../../assets/common/styles/global.variables.scss';
.modal-header-container {
    border: 0px;
}

.modal-btn-container {
    text-align: center;
    p {
        padding: 0.5em 0.5em 1em 0.5em;
        font-size: 17px;
        width: 90%;
        margin: 0 auto;
        color: $greyishBrownShadow;
    }
    .heading {
        padding: 0.5em 0.5em 1em 0.5em;
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
        color: $greyishBrownShadow;
    }
    .modalbtns {
        padding: 8px 22px 8px 22px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.875rem;
        border: 0px;
        border-radius: 6px;
        width: 45%;
        height: 40px;
        margin: 25.5px 60px 20px 61px;
    }
}

.btn-yes {
    background: $secondaryColor;
    box-shadow: 0px 5px 0px $secondaryShadowColor;
    color: rgba($black, 0.6);
}