@import '../../../../../../../../assets/common/styles/global.variables.scss';
.mindspark-champions {
  padding: 0px 30px 30px 30px;
}

table {
  overflow: visible;
  td {
    .more {
      background: rgba(148, 214, 218, 0.5);
      color: #008fd5;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      position: relative;
      margin-left: 4px;
      font-size: 14px;
      cursor: pointer;
      .more-name {
        left: -77px !important;
        top: 32px !important;
        background: $white;
        width: 180px;
        border-radius: 4px;
        box-shadow: 0 2px 6px 0 rgba($black, 0.5);
        border: solid 1px $morningGlory;
        padding: 0px;
        ul {
          list-style-type: none;
          max-height: 130px;
          padding: 10px;
          overflow: auto;
          li {
            font-size: 14px;
            color: rgba($black, 0.6);
          }
        }
        ul::-webkit-scrollbar {
          width: 6px;
        }
        ul::-webkit-scrollbar-track {
          background: $white;
        }
        ul::-webkit-scrollbar-thumb {
          background: rgba($black, 0.1);
        }
      }
    }
  }
}

.more-name:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #94d6da;
  top: -8px;
  right: 45%;
}

@media (max-width: 991px) {
  .table-responsive {
    overflow-x: inherit !important;
  }
}

ul {
  margin: 0px;
}

.table thead th,
tr {
  text-align: left !important;
}

.table th,
.table td {
  padding: 12px 30px 12px 30px !important;
}

@media (max-width:710px) {
  .table td,
  .table th {
    padding: 12px 20px 12px 20px !important;
  }
}
