.login-page-ct {
    padding-left: 0px;
    padding-right: 0px;
    .login-msg {
        font-size:1rem;margin: 25px 0 0 25px;
    }
    .login-main-content {
        padding-top: 60px;
    }
    .login-header-logo {
        margin: 25px 0 0 25px;
        float: left;
        width: 200px;
        height: 32px;
        object {
            width: 100%;
            height: 100%;
        }
    }
}

// .leftSideAdsSpace {
//   overflow: hidden;
//   height: 80vh; // margin-top: 25px;
// }
.marquee-content {
    animation: marquee 12s ease-out infinite;
    position: relative;
    animation-direction: normal;
}

.marquee-content:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@keyframes marquee {
    from {
        top: 0%;
    }
    to {
        top: -105%;
    }
}

@media (max-width:1920px) and (min-width:1024px) {
    .right-section-content {
        margin-left: 12%;
    }
}

// @media(max-width:768px) {
//   .col:first-of-type {
//     order: -1;
//   }
// }
// @media (max-width: 768px) {
//   .rightSideLoginForm {
//     padding-bottom: 25px;
//     order: -1;
//   }
//   .login-msg {
//        font-size:1rem;margin: 25px 0 0 25px;
//    }
//   .login-main-content {
//     padding-top: 15% !important;
//   }
// }
@media (max-width: 991px) {
    .rightSideLoginForm {
        padding-bottom: 25px;
        order: -1;
    }
    .right-loginSection {
        position: static !important;
    }
    .login-msg {
        font-size:1rem;margin: 25px 0 0 25px;
    }
    .login-main-content {
        padding-top: 15% !important;
    }
}

// @media (max-height: 768px) {
//   .leftSideAdsSpace {
//     height: 75vh;
//   }
// }