<div class="container-fluid login-page-ct">
  <ms-auth-header></ms-auth-header>
  <div class="container">
    <div class="clearfix"></div>
    <div class="password-main-page-content">
      <div class="password-block">
        <div class="form-section">
          <div class="ask-teacher-section">
            <div class="main-step-section">
              <div class="ask-teacher-ct img-text-block">
                <img src="assets/common/images/teacher.png" alt="teacher-img" title=" {{ 'teacher' | translate}}" />
                <span>{{'your' | translate: { category : category | translate} }}</span>
              </div>
              <div class="section-item">
                <h4>{{'hey' | translate}} {{ username }}</h4>
                <p>{{'your will help you with the password' | translate:{ category: category | translate } }}</p>
              </div>
              <div class="section-item">
                <button class="details-btn next-button" (click)="goToLogin()">{{'ok' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="login-footer">
    <ms-auth-footer></ms-auth-footer>
  </div>
</div>