<div class="grade1to3-ct">
  <div class="grade1to3-choose-mainBlock" *ngIf="!passwordResetSuccess">
    <div class="top-title">
      <h4 class="greyText">{{ displayText | translate }}</h4>
    </div>
    <div class="row password1to3-ct">
      <div class="col-sm-6 animalBlock" [class.active]="passwordToSet == 'a'">
        <h5 class="sub-title">{{ 'choose an animal friend' | translate }}</h5>
        <div class="password-images-ct">
          <div class="image-item" [class.imageActive]="checkActiveImage(i, 'a')" *ngFor="let animal of animalPasswordPics; let i = index"
            (click)="selectedPassword(i, 'a')">
            <img src="assets/common/images/{{animal}}.png" alt="{{ animal | uppercase }}" title="{{ animal | uppercase }}" />
          </div>
        </div>
      </div>
      <div class="col-sm-6 foodBlock" [class.active]="passwordToSet == 'b'">
        <h5 class="sub-title">{{ 'choose a picnic food' | translate }}</h5>
        <div class="password-images-ct">
          <div class="image-item" [class.imageActive]="checkActiveImage(i, 'b')" *ngFor="let food of foodPasswordPics; let i = index"
            (click)="selectedPassword(i, 'b')">
            <img src="assets/common/images/{{food}}.png" alt="{{ food | uppercase }}" title="{{ food | uppercase }}" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group buttonParentStyle">
      <button class="details-btn next-button" *ngIf="passwordFormName === 'current'" [disabled]="disableSubmit('current')" type="submit"
        (click)="updateMyPassword()">{{'next' | translate}}</button>
    </div>
  </div>
</div>
