<ms-auth-header></ms-auth-header>
<div class="container">
  <div class="form-section password-main-page-content">
    <div class="password-block">
      <div class="top-title">
        <h4>{{ title?.toLowerCase() | translate }}</h4>
        <h4>{{ topTitleHeaderGreat?.toLowerCase() | translate }}</h4>
        <h4>{{ topTitleHeaderRemember?.toLowerCase() | translate }}</h4>
        <p>{{ description?.toLowerCase() | translate }}</p>
      </div>
      <div class="form-section">
        <div *ngIf="isTextPassword">
          <div *ngIf="resetForm">
            <ms-text-password (passwordEmitter)="passwordEmitter($event)"></ms-text-password>
          </div>
          <div class="form-group padding-space" *ngIf="doneProcess">
            <h5 class="sub-title  padding-space">
              {{'great' | translate}}
              <br> {{'successfully created your password' | translate}}
            </h5>
            <div class="form-style">
              <button class="details-btn next-button" type="submit" (click)="endProcess()">{{'login' | translate}}</button>
            </div>
          </div>
        </div>
        <div *ngIf="isPicturePassword">
          <div *ngIf="!passwordResetSuccess">
            <ms-picture-password (picturePasswordEmitter)="picturePasswordEmitter($event)"></ms-picture-password>
          </div>
          <div *ngIf="passwordResetSuccess">
            <ms-picture-password-success [newPasswordA]="newPasswordA" [newPasswordB]="newPasswordB"></ms-picture-password-success>
            <div class="form-group buttonParentStyle">
              <button class="details-btn next-button" type="button" (click)="endProcess()">{{'login' | translate}}</button>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ms-auth-footer></ms-auth-footer>
