@import '../../../../../assets/common/styles/global.variables.scss';
.main-container {
  padding: 10px 0px 0px 0px;
  position: relative;
  .tile-container {
    position: relative;
    padding-bottom: 25px;
    overflow: hidden;
  }
  .game-status {
    .game-icon {
      width: 29px;
      height: 29px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center;
      margin: 20px 0px 15px 0px;
    }
    .tile-status {
      font-size: 24px;
    }
    .tile-text {
      font-size: 18px;
    }
  }
  .showBtn {
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    bottom: -10px !important;
    right: 15px;
    left: 0px;
    text-align: right;
    cursor: pointer;
    padding-right: 20px;
    z-index: 999;
  }
}

.template2 {
  .latest-game {
    background: $latestGamesBg;
    padding-bottom: 50px !important;
    .game-icon {
      background: url('../../../../../assets/common/images/latest-games.png');
    }
    .game-status {
      color: $white;
    }
    .showBtn {
      color: $white;
    }
  }
  .played-game {
    background: $white;
    padding-bottom: 50px !important;
    .game-icon {
      background: url('../../../../../assets/common/images/played-games.png');
    }
    .game-status {
      color: $black;
    }
    .showBtn {
      color: rgba($primaryShadowColor, 1);
    }
  }
  .locked-game {
    background-color: $lockedGamesBg;
    margin-bottom: 0px;
    padding-bottom: 50px !important;
    .game-icon {
      background: url('../../../../../assets/common/images/locked-games.png');
    }
    .game-status {
      color: $black;
    }
    .showBtn {
      color: rgba($primaryShadowColor, 1);
    }
  }
  .showBtn {
    bottom: -5px !important;
  }
}

.template1 {
  .main-container {
    padding: 10px 0px 10px 0px;
    font-family: 'BalooBhaina';
  }
  .game-title {
    font-size: 16px !important;
    height: 52px !important;
  }
  .showBtn {
    font-size: 18px !important;
  }
  .game-category {
    font-size: 14px !important
  }
  .latest-game {
    background: linear-gradient(to left, $latestGamesGradientleft2, $latestGamesGradientright2);
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding-bottom: 50px !important;
    .game-status {
      color: $white;
    }
    .game-icon {
      background: url('../../../../../assets/common/images/white-gamepad.png');
    }
    .showBtn {
      color: $white;
    }
    &:after {
      background: url('../../../../../assets/common/images/latest-game-bg.png');
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      z-index: -1;
      background-repeat: no-repeat;
      opacity: 0.4;
      background-position: bottom;
      background-size: cover;
    }
  }
}

.played-game {
  background: url('../../../../../assets/common/images/played-game-bg.png');
  background-color: $playedGamesbg2;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px !important;
  background-size: cover;
  .game-status {
    color: $black;
  }
  .game-icon {
    background: url('../../../../../assets/common/images/green-gamepad.png');
  }
  .showBtn {
    color: rgba($primaryColor, 1);
  }
}

.locked-game {
  background-color: $playedGamesbg2;
  margin-bottom: 0px !important;
  padding-bottom: 80px !important;
  .game-status {
    color: $black;
  }
  .showBtn {
    color: rgba($primaryColor, 1);
  }
  .game-icon {
    background: url('../../../../../assets/common/images/grey-gamepad.png');
  }
}

.blank-state {
  padding: 5% 5% 5% 5%;
  .timer {
    padding: 15px 0px 0px 0px;
    margin-bottom: -12px;
    img {
      width: 65px;
    }
    figcaption {
      color: $blushRedShadow;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      top: -48px;
      text-align: center;
      margin: 0 auto;
      width: 40px;
      line-height: 16px;
    }
  }
  .blank-state-text {
    font-size: 14px;
    color: rgba($black, 0.9);
  }
}

.dynamic-height {
  max-height: 330px;
  overflow: hidden;
}

.full-height {
  max-height: 100% !important;
}

.empty-container {
  // padding: 100px 0px;
  transform: translate(1%, 50%);
  .locked-img {
    padding-bottom: 20px;
  }
  .text-content {
    padding-top: 50px;
    .heading-blue {
      font-size: 18px;
      font-weight: bold;
      color: $primaryColor;
    }
    .heading-grey {
      font-size: 18px;
      font-weight: bold;
      color: $greyishBrown;
    }
  }
}

@media (max-width:998px) {
  .dynamic-height {
    max-height: 635px;
  }
}

@media (max-width:575px) {
  .dynamic-height {
    max-height: 1248px;
  }
}

@media (max-width:768px) {
  .latest-game {
    margin-top: 60px;
  }
}
