@import '../../../../../assets/common/styles/global.variables.scss';
.grade1to3-choosed-mainBlock {
    width: 80%;
    margin: 30px auto 0px auto;
    .top-title h4 {
        font-size: 20px;
    }
    .password1to3-ct {
        .sub-title {
            font-size: 14px;
            color: rgba($black, 0.6);
            padding-top: 16px;
            padding-bottom: 8px;
        }
    }
    .password-images-ct {
        .image-item {
            width: 130px;
            height: 130px;
            border: 1px solid rgba($black, 0.6);
            border-radius: 6px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
}