<div class="grade1to3-choosed-mainBlock">
  <div class="top-title">
    <h4>The {{ animalPassword[newPasswordA] }} eats {{ foodPassword[newPasswordB] }}</h4>
  </div>
  <div class="row password1to3-ct">
    <div class="col-sm-6">
      <h5 class="sub-title">{{'your animal friend' | translate}}</h5>
      <div class="password-images-ct chooseAnimal-image">
        <div class="image-item">
          <img src="assets/common/images/{{ animalPassword[newPasswordA] }}.png" alt="{{animalPassword[newPasswordA]}}" title="{{animalPassword[newPasswordA]}}"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h5 class="sub-title">{{'your picnic food' | translate}}</h5>
      <div class="password-images-ct choosePicnic-food">
        <div class="image-item">
          <img src="assets/common/images/{{ foodPassword[newPasswordB] }}.png" alt="{{foodPassword[newPasswordB]}}" title="{{foodPassword[newPasswordB]}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>