@import '../../../../../assets/common/styles/global.variables.scss';
.errorContent-ct {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  .errorContent-main-cont {
    background: $error-circle-bg;
    border: 30px solid $error-circle-border;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
    .error-images {
      padding-top: 30%;
      width: 180px;
    }
  }
  .message {
    max-width: 320px;
    margin: auto;
    .message-content {
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.79;
      text-align: center;
      color: $darkGrey;
      margin-top: 5px;
    }
  }
  .form-group {
    margin: 30px 20px;
    text-align: center;
    .subscription-button {
      width: 100%;
    }
  }
  .login-button {
    width: 200px;
    display: inline-block;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: rgba($black, 0.5);
    }
  }
  .multiple-tabs-buttons {
    width: 50%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    -webkit-box-pack: center;
    justify-content: center;
    .form-group {
      margin: 0px 10px;
      text-align: center;
      .yes-button {
        padding: 8px 30px;
        color: rgba($black, 0.6);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.875rem;
        border: 0px;
        border-radius: 6px;
        background: $secondaryColor;
        box-shadow: 0px 5px 0px $secondaryShadowColor;
      }
      .no-button {
        background: $morningGlory;
        color: $primaryShadowColor;
        box-shadow: 0px 5px 0px $primaryShadowColor;
        padding: 8px 30px;
        border: 0px;
        border-radius: 6px;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 0.8rem;
      }
    }
  }
}

//upgrade browser error styles
.upgrade {
  .upgrade-errorContent-ct {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .errorContent-main-cont {
      background: #f0f0f0;
      border: 30px solid #F9F9F9;
      border-radius: 50%;
      width: 337px;
      height: 337px;
      margin: auto;
      .browser-image {
        padding: 15px;
      }
      .form-group {
        margin: 0;
        text-align: center;
      }
    }
    .message {
      max-width: 330px;
      margin: auto;
      margin-top: 30px;
    }
    .errorContent-upgrade-browser-ct {
      .horizontal-line {
        height: 3px;
        border-top: solid 1px rgba($black, 0.1);
        margin-top: 2rem;
      }
      .message {
        max-width: 100%;
        margin: auto;
        margin-top: 0px;
        .message-content {
          width: 100%;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.79;
          text-align: center;
          color: $darkGrey;
        }
      }
      .upgrade-section-buttons {
        width: 50%;
        margin: auto;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: end;
        -webkit-box-pack: center;
        justify-content: center;
        .logout-button {
          background: $blushRed;
          box-shadow: 0 5px $blushRedShadow;
          color: $white;
          width: 135px;
        }
        .continue-button {
          color: $white;
          width: 135px;
          background: $primaryColor;
          box-shadow: 0 5px $primaryShadowColor;
          margin-left: 15px;
        }
      }
    }
    .login-button {
      width: 200px;
      display: inline-block;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: rgba($black, 0.5);
      }
    }
  }
}

.multiple-session-modal {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-custom-header {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 100;
  background: #2195f2;
  color: $white;
}

.main-container {
  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
  margin: 4px;
  border-radius: 8px;
  overflow: hidden;
  .multiple-tabs-error {
    max-width: 100%;
    height: 100%;
    padding: 15px;
    color: rgba($black, 0.8);
    text-align: left;
    font-size: 16px;
    word-break: break-all;
    p {
      margin-bottom: 10px;
      word-break: break-word;
    }
    .message-content:first-child {
      font-size: 16px;
    }
  }
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px;
  outline: none;
  background: $white;
  font-size: 22px;
  box-shadow: 0 2px 4px 0 rgba($black, 0.5);
  color: rgba($black, 0.8);
}

.modal-body.multiple-session-modal {
  background: $white;
}
