<form class="second-form form-style" (submit)="submitPassword()" [formGroup]="passwordForm">
  <div *ngIf="passwordSection">
    <div class="sub-title create col-form-label custom-label" *ngIf="from=='firstTime'">{{'create new password' | translate}}</div>
    <div class="form-group password-input">
      <input type="password" id="password" formControlName="password" name="password" class="form-control input-bg password-bg form-inputBox-style"
        msAuotFocus placeholder="{{ 'type new password' | translate }}" (keyup)="handleConfirmPasswordDisable($event)" autocomplete="off"
        autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      <span (click)="togglePasswordShow()" class="password-toggle-text">
        {{ passwordToggleText.toLowerCase() | translate }}
      </span>
      <div class="form-group bottomSpace">
        <!--<div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].touched">This field is required</div>-->
        <div class="warning-message" *ngIf="passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched">
          <div *ngIf="passwordForm.controls['password'].invalid && !passwordForm.controls['password'].hasError('pattern') && !passwordForm.controls['password'].hasError('minlength')">
            {{'please enter your password' | translate}}!
          </div>
          <div *ngIf="passwordForm.controls['password'].invalid && !passwordForm.controls['password'].hasError('pattern') && passwordForm.controls['password'].hasError('minlength')">
            {{'minimum length is 4' | translate}}
          </div>
          <div *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].hasError('pattern')">
            <!--translation not given -->
            {{'only alphabets a-z, A-Z and numbers 0-9 are allowed' | translate }}
          </div>
        </div>
        <div *ngIf="teacherHasSameUsernameAndPassword" class="warning-message">
          <!--translation not given -->
          {{ 'username and password cannot be same' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group bottomSpace password-input">
      <input type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword" class="form-control input-bg password-bg form-inputBox-style"
        placeholder="{{'reenter password' | translate}}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
      <span (click)="toggleConfirmPasswordShow()" class="password-toggle-text">
        {{ confirmPasswordToggleText.toLowerCase() | translate }}
      </span>
      <!--<div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].touched">This field is required</div>-->
      <div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched">
        <div *ngIf="passwordForm.controls['confirmPassword'].invalid && !passwordForm.controls['password'].hasError('minlength')">
          {{'this field is required' | translate}}
        </div>
        <div *ngIf="(passwordForm.controls['password'].value !==  passwordForm.controls['confirmPassword'].value) && !passwordForm.controls['confirmPassword'].invalid &&  
                              passwordForm.controls['confirmPassword'].value!==null">
          {{'passwords dont match try again' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="details-btn next-button" type="submit" [disabled]="!disablePasswordSubmit()">{{'next' | translate}}</button>
    </div>
  </div>
</form>
