@import '../../../../../assets/common/styles/global.variables.scss';
.password-input {
    position: relative;
    .password-toggle-text {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $primaryColor;
        text-transform: uppercase;
        cursor: pointer;
    }
}

input[name="password"].ng-valid,
input[name="confirmPassword"].ng-valid {
    background: none !important;
}

input[name="password"].ng-touched,
input[name="confirmPassword"].ng-touched {
    // border: 1px solid $blushRedShadow;
    color: $black;
    background: none !important;
    background-origin: content-box;
    font-weight: bold;
    background: $white !important
}

.input-bg {
    background: none !important;
    background-origin: content-box;
    height: 40px;
}

.second-form.form-style {
    margin: 0 auto;
    width: 48%;
}

.custom-label {
    font-size: 20px;
}