<form class="second-form form-style" [formGroup]="passwordForm">
  <div *ngIf="passwordSection">
    <div class="sub-title create col-form-label">Create your password</div>
    <div class="form-group">
      <input type="password" id="password" formControlName="password" name="password" class="form-control input-bg password-bg form-inputBox-style"
        msAuotFocus placeholder="Password" (keyup)="handleConfirmPasswordDisable($event)">
      <div class="form-group bottomSpace">
        <!--<div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].touched">This field is required</div>-->
        <div class="warning-message" *ngIf="passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched">
          <div class="warning-message" *ngIf="passwordForm.controls['password'].invalid && !passwordForm.controls['password'].hasError('pattern') && !passwordForm.controls['password'].hasError('minlength')">
            {{'please enter your password' | translate}}!
          </div>
          <div class="warning-message" *ngIf="passwordForm.controls['password'].invalid && !passwordForm.controls['password'].hasError('pattern') && passwordForm.controls['password'].hasError('minlength')">
            {{'minimum length is 4' | translate}}!
          </div>
          <div class="warning-message" *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].hasError('pattern')">
            {{ 'enter valid password' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group bottomSpace">
      <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control input-bg password-bg form-inputBox-style"
        placeholder="{{ 'reenter password' | translate}}">
      <!--<div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].touched">This field is required</div>-->
      <div class="warning-message" *ngIf="passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched">
        <div *ngIf="passwordForm.controls['confirmPassword'].invalid && !passwordForm.controls['password'].hasError('minlength')">
          {{'this field is required' | translate}}
        </div>
        <div *ngIf="(passwordForm.controls['password'].value !==  passwordForm.controls['confirmPassword'].value) && !passwordForm.controls['confirmPassword'].invalid &&  
                              passwordForm.controls['confirmPassword'].value!==null">
          {{'passwords dont match try again' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="details-btn next-button" type="submit" value="{{'next' | translate}}" [disabled]="!disablePasswordSubmit()"
        (click)="submitPassword()">{{'next' | translate}}</button>
    </div>
  </div>
</form>
