<form [formGroup]="verifyForm">
  <div class="form-style">
    <div class="form-group">
      <!-- <div class="sub-title col-form-label">{{'select your secret question' | translate }}</div> -->

      <i class="right-icon fa fa-caret-right slideInLeft" aria-hidden="true" *ngIf="!secretQuestionsSelectedStatus"></i>
      <select class="form-control form-inputBox-style select-bg login-select-bg" formControlName="secretQuestionOptions" (change)="selectQuestionOption($event)">
        <option value="">{{ 'choose a secret question' | translate}}</option>
        <option *ngFor="let question of secretQuestionOptions;let i=index" value='{{ secretQuestionKeys[i] }}'>
          {{ question | translate}}
        </option>
      </select>

    </div>
    <div class="form-group slidedown" *ngIf="secretQuestionsSelectedStatus">
      <i class="right-icon fa fa-caret-right slideInLeft" aria-hidden="true" *ngIf="!secretAnswerStatus "></i>
      <div class="bg-label">
        <div class="label"> {{ secretQuestion | translate }}</div>
        <input type="text" formControlName="secretAnswer" class="form-control form-inputBox-style" (keyup)="captureState($event)">
      </div>
      <div class="warning-message" *ngIf="!verifyForm.controls['secretAnswer'].valid && verifyForm.controls['secretAnswer'].touched">{{'this field is required' | translate }}</div>
    </div>
    <div class="password-select-ct slidedown" *ngIf="secretAnswerStatus && secretQuestionsSelectedStatus">
      <i class="right-icon fa fa-caret-right slideInLeft" aria-hidden="true"></i>
      <div class="bg-label select-box-bg">
        <div class="label"> {{ 'your date of birth is' | translate }}</div>
        <div class="form-group select-block topSpaces d-flex">
          <select class="form-control form-inputBox-style select-bg login-select-bg" formControlName="dateOfBirth">
            <option value="">{{'date' | translate}}</option>
            <option *ngFor="let date of createDateRange('date')" [value]="date">{{date}}</option>
          </select>
          <select class="form-control form-inputBox-style select-bg login-select-bg" formControlName="monthOfBirth">
            <option value="">{{'month' | translate}}</option>
            <option *ngFor="let month of createDateRange('month'); let i = index" [value]="i+1">{{ month | translate }}</option>
          </select>
          <select class="form-control form-inputBox-style select-bg login-select-bg" formControlName="yearOfBirth">
            <option value="">{{'year' | translate}}</option>
            <option *ngFor="let year of createDateRange('year')" [value]="year">{{year}}</option>
          </select>
        </div>
      </div>
      <!-- <label class="col-form-label label-title sub-title"></label> -->

      <div class="warning-message" *ngIf="verifyForm.controls['dateOfBirth'].touched && verifyForm.controls['monthOfBirth'].touched &&  verifyForm?.errors?.dob">{{ 'enter a valid date of birth' | translate }}</div>
    </div>
    <div class="form-group">
      <button class="details-btn next-button" [disabled]="!enableSecretQuestionsSubmit()" (click)="submitDetails()">{{'submit' | translate}}</button>
    </div>
  </div>
</form>