@import '../../../../../assets/common/styles/global.variables.scss';
.right-icon {
  font-size: 45px;
  color: #008fd5;
  position: absolute;
  top: -5px;
  left: -30px;
}

.password-select-ct {
  position: relative;
  margin-bottom: 15px;
}

.bg-label {
  display: flex;
  height: 40px;
  border-radius: 6px;
  background-color: #e7e7e7;
  position: relative;
  .label {
    font-size: 14px;
    text-align: left;
    color: #707070;
    padding: 10px 8px;
    float: left;
    width: auto;
  }
  input {
    position: absolute;
    right: 0;
    width: 42% !important;
  }
}

.select-box-bg {
  .select-block {
    position: absolute;
    right: 0;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 4px) !important;
}

.form-style {
  width: 70% !important;
}

.form-group {
  position: relative;
}

select.form-control:nth-of-type(2) {
  width: 70px;
}

.form-group button {
  width: 75%;
}

.slidedown {
  animation: fadeIn 1s linear both;
  -webkit-animation: fadeIn 1s linear both;
  -moz-animation: fadeIn 1s linear both;
  -o-animation: fadeIn 1s linear both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-70%, 0, 0);
    visibility: visible;
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(-70%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}
