/* Blue Theme variables */

$primaryColor:#008fd5;
$primaryShadowColor:#00397b;

/*004282*/

$secondaryColor:#b0d361;
$secondaryShadowColor:#7fb700;
$goldenYellow:#f9d013;
$goldenYellowShadow:#cbac1d;
$blushRed:#f48583;
$blushRedShadow:#db5c5b;
$morningGlory:#94d6da;
$morningGloryShadow:#00bac6;
$greyishBrown:#878787;
$greyishBrownShadow:#565656;
$veniceblue:#07577D;
