/* Blue Theme variables */

$primaryColor:#008fd5;
$primaryShadowColor:#004282;
/*004282*/

$secondaryColor:#b0d361;
$secondaryShadowColor:#7fb700;
$goldenYellow:#f9d013;
$goldenYellowShadow:#cbac1d;
$blushRed:#f48583;
$blushRedShadow:#db5c5b;
$morningGlory:#a4dce1;
$morningGloryShadow:#00bac6;
$greyishBrown:#878787;
$greyishBrownShadow:#565656;
$veniceblue:#07577D;
/*game page color variables*/

$latestGamesBorder:#f9d013;
$latestGamesGradientleft:#fff05e;
$latestGamesGradientright:#fcc735;
$latestGamesBg:#0068ab;
$playedGamesBorder:#9fcf32;
$playedGamesGradientleft:#bfe764;
$playedGamesGradientright:#9ccd2e;
$lockedGamesBorder:#8a8a8a;
$lockedGamesBg:#eae9e9;
$latestGamesGradientleft2:#207aa6;
$latestGamesGradientright2:#44a758;
$playedGamesbg2:#e9f6ff;
$lockedGamesbg2:#fafafa;
