/*Green Theme variables*/

$primaryColor:#00bac6;
$primaryShadowColor:#004282;
$secondaryColor:#7cdb70;
$secondaryShadowColor:#5bb650;
$goldenYellow:#f9d013;
$goldenYellowShadow:#cf8606;
$blushRed:#f48583;
$blushRedShadow:#db5c5b;
$morningGlory:#38a8df;
$morningGloryShadow:#0190d6;
$greyishBrown:#878787;
$greyishBrownShadow:#565656;
$menuBoxTitleBg:rgba(0, 0, 0, 0.12);
$bodyBgColor: #d3f287;
