@import '../../../../assets/common/styles/global.variables.scss';

/* This section should be deleted after implementing FORGOT PASSWORD pages - START */

.change-password-modal {
  .modal-header {
    text-align: center;
    display: block;
    border-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    .modal-title {
      font-size: 1.25rem;
      display: block;
      padding-top: 0px;
      color: $greyishBrownShadow;
    }
    .text-message {
      font-size: 14px;
      color: rgba($black, 0.3);
    }
    .close {
      position: absolute;
      right: 5%;
      top: 15px;
      font-size: 2rem;
      &.back {
        left: 20px;
        right: unset;
      }
    }
  }
}

.grade1to3-ct {
  font-family: 'BalooBhaina';
  .password1to3-ct {
    margin: 20px auto 10px auto;
    width: 85%;
    .sub-title {
      font-size: 0.875rem;
      color: $greyishBrownShadow;
      font-weight: bold;
    }
    .password-images-ct {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0px 5px 0px 5px;
      text-align: center;
      .image-item {
        width: 58px;
        display: inline-block;
        height: 60px;
        margin: 10px 8px 0 0;
        border: 1px solid $greyishBrown;
        border-radius: 6px;
        padding: 4px;
        cursor: pointer;
        &:nth-child(3n+0) {
          margin-right: 0px;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .buttonParentStyle {
    width: 60%;
    margin: 40px auto 20px auto;
  }
  .grade1to3-choosed-mainBlock {
    .password-images-ct {
      .image-item {
        width: 130px;
        height: 130px;
      }
    }
  }
}


/* This section should be deleted after implementing FORGOT PASSWORD pages - END */

.changePasswordModal {
  width: 100%;
  margin: 0 auto;
  background: url("../../../../assets/common/images/star-clouds.png") no-repeat bottom;
  min-height: 330px;
  .form-progressBar {
    margin-left: 24%;
    .circle {
      margin-right: 40%;
    }
    .horizantal-bar {
      width: 42%;
    }
  }
  .password1to3-ct {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .buttonParentStyle {
    width: 50%;
    button {
      width: 100%;
    }
  }
  .form-progressBar {
    float: left;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .text {
    text-align: center;
    font-size: 20px;
  }
  .sub-title {
    text-align: center;
    margin-bottom: 0px;
  }
}

.changePswrd-button {
  max-width: 250px;
  background: $morningGloryShadow;
  box-shadow: 0px 5px 0px $primaryShadowColor;
  border-radius: 15px;
  color: $white;
  font-family: 'BalooBhaina';
  font-size: 18px;
}

.changePswrd-button-higher {
  padding: 10px 0px 8px 0px;
  border-radius: 6px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  height: 40px;
  background: $secondaryColor;
  box-shadow: 0px 5px 0px $secondaryShadowColor;
  width: 100%;
}

.foodBlock.active,
.animalBlock.active {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $primaryColor;
}

.image-item {
  opacity: 0.3;
}

.active .image-item,
.chooseAnimal-image .image-item,
.choosePicnic-food .image-item {
  opacity: 1;
}

.image-item.imageActive {
  border: 2px solid $primaryColor !important;
  opacity: 1;
}

.animalBlock,
.foodBlock {
  border: 1px solid transparent;
  padding: 10px;
}

.error-msg {
  padding-top: 10px;
}

//higher grade styles 
input.ng-touched.ng-invalid,
input.ng-touched.invalidPassword {
  border: 1px solid #db5c5b !important;
}

.save-button {
  width: 100%;
}

.modal-form-section-higher-grade {
  width: 65%;
  margin: 35px auto;
  .form-group {
    position: relative;
    margin-bottom: 1.8rem;
    img {
      position: absolute;
      top: 9px;
      right: 12px;
    }
  }
  .changePswrd-button-higher {
    width: 100%;
    margin-top: 1rem;
  }
}

.successCt {
  .modal-form-section-higher-grade {
    width: 80%;
    text-align: center;
    p {
      margin-bottom: 24%;
      font-size: 20px;
      color: rgba($black, 0.7);
    }
    .close-button {
      width: 60%;
    }
  }
}

.lock {
  background: transparent;
  height: 36px;
  width: 14%;
  position: absolute;
  top: 3px;
  right: 1px;
  border-radius: 5px;
}
.modal-header-container {
    border: 0px;
}

.modal-btn-container {
    text-align: center;
    p {
        padding: 0.5em 0.5em 1em 0.5em;
        font-size: 17px;
        width: 90%;
        margin: 0 auto;
        color: $greyishBrownShadow;
    }
    .heading {
        padding: 0.5em 0.5em 1em 0.5em;
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
        color: $greyishBrownShadow;
    }
    .modalbtns {
        padding: 8px 22px 8px 22px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.875rem;
        border: 0px;
        border-radius: 6px;
        width: 45%;
        height: 40px;
        margin: 25.5px 60px 20px 61px;
    }
}

.btn-yes {
    background: $secondaryColor;
    box-shadow: 0px 5px 0px $secondaryShadowColor;
    color: rgba($black, 0.6);
}