<button type="button" class="details-btn"
  [ngClass]="{'changePswrd-button': (template == '1'), 'changePswrd-button-higher': (template == '2')}"
  (click)="getMyPasswordType()">{{ 'change password' | translate }}</button>
<ng-template #changePswrdModal let-c="close" let-d="dismiss">
  <ng-container [ngSwitch]="passwordType">
    <ng-container *ngSwitchCase="'picture'">
      <!-- <ms-change-password-t1></ms-change-password-t1> -->
      <!-- <button type="button" class="details-btn changePswrd-button" (click)="open(changePswrdModal)">{{ 'change password' | translate }}</button> -->
      <!-- <ng-template #changePswrdModal let-c="close" let-d="dismiss"> -->
      <div class="change-password-modal">
        <div class="modal-header">
          <button type="button" [hidden]="hideArrow" class="close back" aria-label="Close" (click)="goBack()">
            <span aria-hidden="true" class="backArrow">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
          </button>
          <ng-container *ngIf="passwordResetSuccess; then successPswd; else changePswd"></ng-container>
          <ng-template #changePswd>
            <h4 class="modal-title text-capitalize">{{ 'change password' | translate }}</h4>
            <p class="text-message">Never share your password with others</p>
          </ng-template>
          <ng-template #successPswd>
            <h4 class="modal-title text-capitalize">{{'great' | translate}}
              <br /> {{'remember your picture password' | translate}}</h4>
            <p class="text-message"></p>
          </ng-template>
          <button type="button" hidden class="close" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body changePasswordModal">
          <div class="modal-form-section">
            <div class="form-progressBar">
              <div class="circle" [ngClass]="{'active': isActiveOne, 'circleSuccess': isSuccessOne}">
                <i *ngIf="isSuccessOne" class="fa fa-check success-correctIcon"></i>
              </div>
              <div class="circle" [ngClass]="{'active': isActiveTwo, 'circleSuccess': isSuccessTwo}">
                <i *ngIf="isSuccessTwo" class="fa fa-check success-correctIcon"></i>
              </div>
              <div class="horizantal-bar"></div>
            </div>
            <!-- <div class="form-section grade1to3-ct" *ngIf="Block1to3"> -->
            <div class="form-section grade1to3-ct">
              <div class="grade1to3-choose-mainBlock" *ngIf="!passwordResetSuccess">
                <h4 class="text" *ngIf="passwordFormName == 'current'">Select your current picture password</h4>
                <h4 class="text" *ngIf="passwordFormName == 'new'">{{ 'choose a new picture password' | translate }}
                </h4>
                <div class="row password1to3-ct">
                  <div class="col-sm-6 animalBlock" [class.active]="passwordToSet == 'a'">
                    <h5 class="sub-title">{{ 'choose an animal friend' | translate }}</h5>
                    <div class="password-images-ct">
                      <div class="image-item" [class.imageActive]="checkActiveImage(i, 'a')"
                        *ngFor="let animal of animalPasswordPics; let i = index" (click)="selectedPassword(i, 'a')">
                        <img src="assets/common/images/{{animal}}.png" alt="{{ animal | uppercase }}"
                          title="{{ animal | uppercase }}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 foodBlock" [class.active]="passwordToSet == 'b'">
                    <h5 class="sub-title">{{ 'choose a picnic food' | translate }}</h5>
                    <div class="password-images-ct">
                      <div class="image-item" [class.imageActive]="checkActiveImage(i, 'b')"
                        *ngFor="let food of foodPasswordPics; let i = index" (click)="selectedPassword(i, 'b')">
                        <img src="assets/common/images/{{food}}.png" alt="{{ food | uppercase }}"
                          title="{{ food | uppercase }}" />
                      </div>
                    </div>
                  </div>
                  <div class="form-section grade1to3-ct text-danger error-msg" *ngIf="currentPasswordIncorrect">
                    {{ currentPasswordIncorrect | translate }}</div>
                </div>

                <div class="form-group buttonParentStyle">
                  <button class="details-btn next-button" *ngIf="passwordFormName === 'current'"
                    [disabled]="disableSubmit('current')" type="submit"
                    (click)="chooseNewPassword()">{{ 'next' | translate }}</button>
                  <button class="details-btn next-button" *ngIf="passwordFormName !== 'current'"
                    [disabled]="disableSubmit('new')" type="submit"
                    (click)="updatePassword()">{{ 'save' | translate }}</button>
                </div>
              </div>
              <div class="grade1to3-choosed-mainBlock" *ngIf="passwordResetSuccess">
                <h4 class="text">{{ 'your new password' | translate }} </h4>
                <div class="row password1to3-ct">
                  <div class="col-sm-6">
                    <h5 class="sub-title">{{'your animal friend' | translate}}</h5>
                    <div class="password-images-ct chooseAnimal-image">
                      <div class="image-item">
                        <img src="assets/common/images/{{ animalPassword[newPasswordA] }}.png"
                          alt="{{ animalPassword[newPasswordA] | uppercase }}"
                          title="{{animalPassword[newPasswordA] | uppercase}}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h5 class="sub-title">{{'your picnic food' | translate}}</h5>
                    <div class="password-images-ct choosePicnic-food">
                      <div class="image-item">
                        <img src="assets/common/images/{{ foodPassword[newPasswordB] }}.png"
                          alt="{{ foodPassword[newPasswordB] | uppercase }}"
                          title="{{ foodPassword[newPasswordB] | uppercase }}" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group buttonParentStyle" *ngIf="isForgotPswrd; else isCreatePswrd">
                    <button class="details-btn next-button" type="button"
                      (click)="navigateToThirdForm()">{{ 'next' | translate }}</button>
                  </div>
                  <ng-template #isCreatePswrd>
                    <div class="form-group buttonParentStyle">
                      <button class="details-btn next-button" type="button"
                        (click)="d('Cross click')">{{'close' | translate}} </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>



    <ng-container *ngSwitchCase="'text'">
      <!-- <ms-change-password-t2></ms-change-password-t2> -->

      <div class="change-password-modal">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <h4 class="modal-title text-capitalize" *ngIf="!passwordSuccess">{{'change your password' | translate}}</h4>
        </div>
        <div class="modal-body changePasswordModal" [class.successCt]="passwordSuccess">
          <div class="modal-form-section-higher-grade">
            <ng-container *ngIf="passwordSuccess; then successMessage; else changePasswordForm"></ng-container>
            <ng-template #successMessage>
              <p>{{ 'great' | translate }}
                <br> {{ 'you have successfully changed your password' | translate }}</p>
              <button type="button" class="details-btn save-button close-button"
                (click)="d('Cross click')">{{'close' | translate}}</button>
            </ng-template>
            <ng-template #changePasswordForm>
              <form [formGroup]="changePassword" (submit)="updatePassword()">
                <div class="form-group">
                  <input type="password" id="currentPassword" (keyup)="clearPasswordIncorrect()"
                    class="form-control form-inputBox-style" placeholder="{{ 'enter current password' | translate}}"
                    formControlName="currentPassword" msAuotFocus>
                  <span class="lock">
                    <img src="assets/common/images/lock.png" alt="lock" title="lock" />
                  </span>

                  <div *ngIf="getFormElement('currentPassword').invalid && currentPasswordIncorrect === null"
                    class="text-danger">
                    <div
                      *ngIf="getFormElement('currentPassword').touched && getFormElement('currentPassword').errors?.required">
                      {{ 'this field is required' | translate }}</div>
                    <div *ngIf="getFormElement('currentPassword').errors?.pattern">
                      {{ 'only alphabets a-z, A-Z and numbers 0-9 are allowed in a password. do not use special characters' | translate }}.
                    </div>
                    <div *ngIf="getFormElement('currentPassword').errors?.minlength">
                      {{'password should be at least characters long' | translate: { length: 4 } }}.
                    </div>
                  </div>
                  <div *ngIf="currentPasswordIncorrect" class="text-danger">{{ currentPasswordIncorrect | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-inputBox-style"
                    placeholder="{{'enter new password' | translate}}" formControlName="newPassword"
                    (keyup)="handleConfirmPasswordDisable($event)">
                  <span class="lock">
                    <img src="assets/common/images/lock.png" alt="lock" title="lock" />
                  </span>
                  <div *ngIf="getFormElement('newPassword').invalid" class="text-danger">
                    <div
                      *ngIf="getFormElement('newPassword').touched && getFormElement('newPassword').errors?.required">
                      {{ 'this field is required' | translate }}</div>
                    <div *ngIf="getFormElement('newPassword').errors?.pattern">
                      {{ 'only alphabets a-z, A-Z and numbers 0-9 are allowed in a password. do not use special characters' | translate }}.
                    </div>
                    <div *ngIf="getFormElement('newPassword').errors?.minlength">
                      {{'password should be at least characters long' | translate: { length: 4 } }}.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-inputBox-style"
                    [ngClass]="{'invalidPassword': changePassword?.errors?.matchPassword}"
                    placeholder="{{ 'reenter new password' | translate}}" formControlName="confirmNewPassword">
                  <span class="lock">
                    <img src="assets/common/images/lock.png" alt="lock" title="lock" />
                  </span>
                  <div *ngIf="getFormElement('confirmNewPassword').invalid" class="text-danger">
                    <div
                      *ngIf="getFormElement('confirmNewPassword').touched && getFormElement('confirmNewPassword').errors?.required">
                      {{ 'this field is required' | translate }}</div>
                  </div>
                  <div class="text-danger" *ngIf="changePassword?.errors?.matchPassword">
                    {{ 'password did not match' | translate}}</div>
                </div>
                <button type="submit" class="details-btn save-button"
                  [disabled]="checkChangePasswordFormInvalid()">{{ 'save' | translate }}</button>
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'no'">

      <div>

        <div class=" modal-header modal-header-container "></div>

        <div class="modal-body modal-btn-container ">

          <p>

            Your Password type has been changed.<br />Please log out and log in again to set your new password.

          </p>

          <button type="button " class="heading " class="btn modalbtns btn-yes" (click)="d('Cross click')">

            {{ "okay got it" | translate }}

          </button>

        </div>

      </div>


    </ng-container>


  </ng-container>

</ng-template>