@import '../../../../../assets/common/styles/global.variables.scss';
.login-footer-ct {
    position: fixed !important;
}

.grade1to3-ct {
    .password1to3-ct {
        margin: 0 auto;
        padding: 0px 20px 0px 20px;
        .sub-title {
            font-size: 0.875rem;
            color: $greyishBrownShadow;
            font-weight: bold;
        }
        .password-images-ct {
            flex-wrap: wrap;
            justify-content: center;
            .image-item {
                width: 58px;
                height: 60px;
                display: inline-block;
                margin: 10px 8px 0 0;
                border: 1px solid $greyishBrown;
                border-radius: 6px;
                padding: 4px;
                cursor: pointer;
                &:nth-child(3n+0) {
                    margin-right: 0px;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .buttonParentStyle {
        width: 50%;
        margin: 15px auto 15px auto;
    }
    .grade1to3-choosed-mainBlock {
        .password-images-ct {
            .image-item {
                width: 130px;
                height: 130px;
            }
        }
    }
}

.password-input {
    position: relative;
    .password-toggle-text {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $primaryColor;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.active .image-item,
.chooseAnimal-image .image-item,
.choosePicnic-food .image-item {
    opacity: 1;
}

.image-item.imageActive {
    border: 2px solid $primaryColor !important;
    opacity: 1;
}

input[name="password"].ng-valid,
input[name="confirmPassword"].ng-valid {
    background: none !important;
}

input[name="password"].ng-touched,
input[name="confirmPassword"].ng-touched {
    color: $black;
    background: none !important;
    background-origin: content-box;
    font-weight: bold;
    background: $white !important
}

.input-bg {
    background: none !important;
    background-origin: content-box;
    height: 40px;
}

.animalBlock,
.foodBlock {
    border: 1px solid transparent;
    padding: 10px;
    margin: 5px 0px;
}

.foodBlock.active,
.animalBlock.active {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $primaryColor;
}

.image-item {
    opacity: 0.6;
}

.active .image-item,
.chooseAnimal-image .image-item,
.choosePicnic-food .image-item {
    opacity: 1;
}

.image-item.imageActive {
    border: 2px solid $primaryColor !important;
    opacity: 1;
}

.animalBlock,
.foodBlock {
    border: 1px solid transparent;
    padding: 10px;
}

.main-step-section {
    display: flex;
    justify-content: center;
    clear: left;
    padding-top: 15%;
    .img-text-block {
        width: 130px;
        border: 5px solid $yellow;
        border-radius: 6px;
        padding-top: 4px;
        cursor: pointer;
        span {
            color: $greyishBrownShadow;
            font-size: 0.85rem;
            display: block;
            background: $yellow;
            padding: 6px 0 6px 0;
        }
    }
    .locksection {
        height: 130px;
        span {
            font-size: 60px;
            line-height: 100px;
            background: $white;
            color: $blushRedShadow;
        }
    }
    .text-item {
        width: 130px;
        h5 {
            line-height: 60px;
            color: rgba($black, 0.6);
        }
    }
    .restYourself-ct {
        img {
            height: 94px;
            padding-bottom: 5px;
        }
    }
}

.ask-teacher-section {
    .main-step-section {
        flex-direction: column;
        align-items: center;
        .section-item {
            margin: 25px 0 0 0;
            width: 100%;
            input,
            button {
                width: 50%;
            }
            h4,
            p {
                font-size: 1.25rem;
                color: $greyishBrownShadow;
                font-weight: bold;
                margin-bottom: 0px;
            }
        }
    }
}

.select-block {
    display: flex;
    width: 102%;
    select {
        padding-left: 8px;
        margin-right: 4px;
    }
}

.sub-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: rgba($black, 0.4) !important;
}

.sub-title-dark {
    @extend .sub-title;
    color: rgba($black, 0.8) !important;
}

.animalBlock,
.foodBlock {
    .sub-title {
        color: rgba($black, 0.8) !important;
    }
}

.choosen-password {
    .image-choosen {
        img {
            width: 130px;
            border: 1px solid rgba($black, 0.6);
            border-radius: 6px;
            padding: 5px;
        }
    }
}

.reset-password-login {
    margin: 0 auto;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}

p,
h5 {
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 10px;
}

.doneProcess {
    .top-title {
        padding: 15px 0px 25px 0px;
    }
}

.password-main-page-content .top-title h4 {
    text-transform: unset;
}

.password-select-ct {
    position: relative;
}

@media (max-width:640px) {
    .image-item:nth-child(3n+0) {
        margin-right: 8px !important;
    }
    .image-item {
        height: 45px !important;
        width: 45px !important;
    }
}

.title-dark {
    color: rgba($black, 0.7);
    margin: -24px 0 10px 0 !important;
    h5 {
        margin-bottom: 10px !important;
    }
}

.title-dark-extra-padding {
    color: rgba($black, 0.7);
    padding: 0 35px !important;
    h5 {
        margin-bottom: 10px !important;
    }
}

.d-block {
    display:  !important;
}

.align-center {
    margin: 0 auto !important;
}