<!--<div class="parents-login-ct" *ngIf="parentsLogin">-->
<div class="parents-login-ct">
  <div class="parents-login-block">
    <h4 class="parents-login-title">{{'parents login' | translate}}</h4>
    <form>
      <div class="form-group">
        <button class="details-btn facebook-button">{{'facebook' | translate}}</button>
      </div>
      <div class="form-group">
        <button class="details-btn googlePlus-button">{{'google' | translate}} + </button>
      </div>
      <div class="form-group">
        <div class="newUser">
          <a href="javascript:void(0)">{{'new parent' | translate}}?</a>
        </div>
      </div>
    </form>
  </div>
</div>
